<!DOCTYPE html>
<html>
<head>
  <title inertia><%= content_for(:title) || "Url Shortener" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <!-- Vite + Inertia -->
  <%= vite_stylesheet_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "inertia" %>
    <%= inertia_ssr_head %>
  <%= vite_javascript_tag "application" %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Aqui o Inertia vai renderizar suas páginas Vue -->
<%= yield %>
</body>
</html>
